{%extends 'bootstrap/base.html'%}

{%block metas%}
{{super()}}
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{%endblock%}

{%block styles%}
{{super()}}
<style>
    
    .container{
        display:table;
        height:100%;
    }

    .row{
        display: table-cell;
        vertical-align: middle;
    }
    /* centered columns styles */
    .row-centered {
        text-align:center;
    }
    .col-centered {
        display:inline-block;
        float:none;
        text-align:left;
        margin-right:-4px;
    }
</style>

{%endblock%}

{%block body%}

{%block navbar%}

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
             <a class="navbar-brand" href="/">Flasky</a>
        </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        </ul>
    </div>


    
    </div>
    </div>

{%endblock%}

{%block   page_content  %}

{%endblock%}

{%endblock%}
    
