{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{%block title%}我这里是测试表单用的{%endblock%}


{#在这里抛弃nav,准备搞自己一个新开nav.但是,如何应用到全局呢???#}
{#我知道,你不是没有看到,这些东东都是在开头加载的,都是app=xxx,或者xxx(app)这样加载的!!#}

{#重新写表单#}


{% block content %}
<div>
        {% for message in get_flashed_messages() %}
        <div style="width:50%;text-align: center;margin:0 auto"  class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
        {% endfor %}

    <div style="text-align: center" ><h2>叩丁狼教育-用户注册/登陆</h2></div>
<div class="well" style="width:30%;margin:0 auto" >
{{ wtf.quick_form(form,button_map={'submit':'primary', })}}

</div>

</div>
{%endblock%}